.C{
    position: relative;
    background-color: yellow;
    border-style: solid;
    border-color: red;
    border-width: 10px;
    width:400px;
    height: 70px;
}
$pozycja: 0;
.A{
    position: relative;
    left:5%;
}
.B{
    position: relative;
    left:30px;
    bottom: 30px;
}